 <div class="user-details">
  <h1 style="text-align:center; margin-bottom: 0px; padding-top: 0px !important; margin-top:1em;" > Sobre mí </h1>
</div>
  <div class="user" style="display: flex; align-items: center;">
    <div class="tech" style="text-align: left;">
      <p>Soy estudiante de Economía de octavo ciclo en la Universidad del Pacífico (UP).</p>
      <p>Antes de adentrarme en el mundo económico y empresarial, ingresé a la carrera con el sueño de ser líder en proyecto de educación, tecnológicos y de infraestructura en las regiones de Perú y el mundo, impulsando reformas que el país necesita.</p>
      <p>Creo que el estudio de una disciplina no debe limitarse a las aulas de la facultad, sino que debe complementarse con el sumergimiento en otras. </p>
      <p>Actualmente me encuentro desarrollándome en planeamiento financiero en OM Pharma, una biomédica global líder que produce medicina preventiva de diversas enfermedades.</p>
      <p><a href="bio.html">Leer más</a></p>      
    </div>
    <div class="tech">
      <img alt="Fabrizio" src="{{ "/assets/img/fabrizio.jpg" | prepend: site.baseurl }}" style="width: 100%; display: block; margin: 0 auto;">
    </div>
  </div>
