<div id="particles-js">
  <div class="header" >
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <p>Apasionado de las ciencias, la infraestructura y el abordamiento innovador de problemas. Mi sueño es reducir las brechas sociales a través de proyectos que impacten personas, y las comuniquen.
      </p>
      <div class="header-links" style="display: flex; flex-direction: row; justify-content: center;">
        <a class="link" href="#about" data-scroll>Sobre mí</a>
        <a class="link" href="#projects" data-scroll>Propuestas</a>
      </div>
      <div class="header-icons">
        <a aria-label="Write me an email" href="mailto:ca.solisd@alum.up.edu.pe"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/ces_alexander/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="Whatsapp" target="_blank" href="https://wa.me/+51936183246"><i class="icon fa fa-whatsapp" aria-hidden="true"></i></a>
        <a aria-label="LinkedIn Profile" target="_blank" href="https://pe.linkedin.com/in/c%C3%A9sar-alexander-sol%C3%ADs-d%C3%ADaz-375a49219"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Work Plan" target="_blank" href="https://drive.google.com/file/d/1uWDPQ6fgtBp9hdgawMYTTjBR9ZUNG89g/view"><i class="icon fa fa-briefcase" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
