<div>
  <h1 class="user-details">Propuestas</h1>
  <h2>Participación Universitaria</h2>
    <h4>Reconocimiento de la REUP como comunicador eficiente y transparente</h4>
    <p style="text-align: left;">A lo largo del año, recabaremos información de lo que necesita saber la comunidad a cerca de la universidad y la REUP, e iremos agregando diferentes herramientas, por ahora, los primeros evaluados para agregar son los siguientes:</p>
    <ul>
      <li>Compartir summaries de las propuestas detalladas a través de las redes sociales de la REUP, para que se conozca sobre qué se está trabajando</li>
      <li>Cada determinado periodo de tiempo, compartir barras de avance de logro de los objetivos trazados por la REUP 2023 porque queremos que la comunidad UP realmente evidencie que nuestras propuestas se llevarán a cabo</li>
      <li>Publicitar a cada miembro de la REUP 2024 con el objetivo de que cada estudiante UP reconozca quien los representa y sepa a quien acudir por x motivos académicos, de bienestar estudiantil, entre otros</li>
      <li>Compartir iniciativas, propuestas y todo lo que estamos realizando periódicamente</li>
      <li>Coffee talks en épocas cruciales del ciclo con el objetivo de recolectar feedback y actuar sobre ello</li>
    </ul>

    <h4>Ser representantes de los estudiantes con las autoridades</h4>
    <p style="text-align: left;">El representante REUP debe funcionar como un nexo entre las autoridades y los estudiantes. De la misma manera, esta relación no debe limitarse al ámbito de la Universidad del Pacífico, sino debe tener en cuenta a todo el Consorcio. De esta manera, este “Eje de comunicación” permitirá enterarnos de las propuestas acerca de cursos que puedan llevarse, aquellos que ya no estén disponibles. Adicionalmente, llevar propuestas sobre una nueva apertura o reapertura. Asimismo, tener esta comunicación constante facilitará la integración en el mediano plazo, y creará espacios de diálogo, propuestas y soluciones entre cada uno de los estudiantes UP. Nosotros como comunicadores REUP estaremos encargados de sacar provecho de todos los beneficios que la vida universitaria nos brinda, tanto académica como extraacadémica, y se los comunicaremos.</p>
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

    <h4>Considerar opiniones de todos - OEs</h4>
    <p style="text-align: left;">Es necesario considerar que las organizaciones estudiantiles son relevantes en la discusión
      de decisiones importantes que se tomen en la universidad. Por ello, en la práctica, una
      propuesta de valor podría ser generar espacios de diálogo regularmente con los líderes de
      las organizaciones estudiantiles para expandir el trabajo que voluntariamente cada uno
      realiza, y promover y apoyar sus iniciativas que benefician a la comunidad estudiantil. Con el
      objetivo de que en la REUP, podamos discutir previamente las propuestas de valor de las
      OEs según sus necesidades y encontrar la manera asertiva de comunicarlas a nuestras
      autoridades. En grandes términos, serán reuniones conjuntas donde cada uno muestre sus propuestas de acción ante la comunidad universitaria, y podamos conocerlas todas y apoyarlas.</p>
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

  <h2>Vida Universitaria</h2>
    <h4>Acciones enfocadas en la salud mental de los estudiantes UP</h4>
    <p style="text-align: left;">Como REUP 2024, se busca trabajar de manera conjunta con consejería universitaria con el
      objetivo de visibilizar la problemática diaria de los estudiantes: la salud mental. Por ende,
      propongo realizar encuestas previo a cada ciclo (previa coordinación con consejería
      universitaria) y podamos conocer los principales problemas en torno a la salud mental. El
      reporte de los resultados serviría para que se pueda concientizar sobre el tema y que durante
      todo el ciclo se pueda promover y fortalecer recursos para informar sobre la importancia de
      la salud mental. De este modo, a fin de ciclo se pueda realizar un informe más detallado de
      los avances y mejoras dentro de la comunidad universitaria. Nosotros como REUP, seríamos
      el canal directo de visibilización de estas encuestas, los resultados y de la información
      relevante que los servicios de consejería universitaria tiene para ofrecernos.</p>
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

    <h4>Ferias de carreras universitarias</h4>
    <p style="text-align: left;">Junto con la coordinación de las autoridades invitaremos a diversas empresas para que
      puedan exponer sus actividades y puedan acercarse más a la comunidad universitaria. Esto
      permitirá a los estudiantes conocer más sobre las prácticas que pueden realizar y las
      posibilidades que tienen para desarrollar su carrera universitaria.
      Asimismo, si aún no desean comenzar a postular, tendrán la información necesaria
      de las empresas para que en el futuro tengan la alternativa.</p>
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

  <h2>Desarrollo Profesional y Académico</h2>
    <h4>Implementar nuevos formatos de evaluaciones para el profesor y los respectivos Jefes de Práctica</h4>
    <p style="text-align: left;">A lo largo de nuestra vida universitaria compartimos salones que nos relacionan a profesores
      y Jefes de Práctica con estilos de enseñanza diversa. Sin embargo, las opiniones que se
      difunde por redes sociales como en el grupo “¿Con qué profe de la UP matricularme?” pueden
      contener información no consensuada y dispersa que podría alterar la noción final que
      tenemos sobre los docentes. De esta manera, se implementará un reporte compartido con
      los alumnos acerca de aspectos generales tanto de profesores como JP’s entre el fin de
      ciclo y el inicio del próximo, por ejemplo, uno de los campos diría “que tan rápido avanza” y
      se calificaría todos los campos existentes en una escala del 1 al 5. De esta manera, se tendría
      un panorama más amplio sobre el desarrollo de las clases tanto para los alumnos y los
      docentes, y se podrían tomar mejores decisiones en la matrícula de acuerdo con el estilo de
      aprendizaje.</p>
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

    <h4>Introducir la cantidad de alumnos que se encuentran compitiendo en un salón como nuevo componente del sistema de matrícula</h4>
    <p style="text-align: left;">Es cierto que cuando no alcanzamos el número de cupos existentes en la matrícula sabremos
      que no entraremos al salón. Sin embargo, a muchos nos puede haber pasado una situación
      que no depende de nosotros. Me refiero a que cuando estamos en una posición favorable
      con un profesor, por ejemplo (7/30), puede que no lleguemos a inscribirnos en un curso
      porque no se alcanzó la cantidad de alumnos mínima para que se abra; de este modo esta
      situación nos sorprende porque no nos deja margen de reacción sobre lo que tenemos
      planeado. Así, si además de la posición relativa se implementa la cantidad de alumnos que
      compite por el salón se podrá tomar finalmente una decisión más acertada y evitar
      entran en un salón con posible cierre por falta de alumnos.</p>
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

    <h4>Revisar que la sumillas de los cursos estén detalladas en los contenidos desarrollados y abiertas para los estudiantes</h4>
    <p style="text-align: left;">Algunos cursos presentan una sumilla desactualizada o no detallada en los contenidos. De la
      misma manera, muchas no se encuentran disponibles fácilmente para los estudiantes. Así, si
      revisamos las sumillas con comunicación con los coordinadores docentes de cada curso,
      tendremos un mejor panorama sobre lo que desarrollaremos. También, estos estarán
      publicados para que sean de fácil acceso a los estudiantes.</p>
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

  <h2>Propuestas enfocadas a los estudiantes de Economía y Finanzas</h2>
    <h4>Realizar charlas con profesores de acuerdo con las diversas concentraciones que tiene la universidad</h4>
    <p style="text-align: left;">Ya en el transcurso de la carrera nos preguntamos acerca de qué opciones tenemos en el
      mundo laboral para ejercerla. Así, estas charlas tendrán el objetivo de aclarar las dudas o
      consultas de los estudiantes de acuerdo con los deseos o curiosidades de cada uno, juntando
      a los diversos profesores que son especialistas en cada área: Investigación, Sector Público y
      Sector Privado.</p>
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

    <h4>Compartir información de cursos según interés en el campo laboral</h4>
    <p style="text-align: left;">Para aportar a la decisión de cada estudiante de que economía o finanzas es tu carrera ideal,
      usar las redes sociales de la REUP como medio para compartir recomendaciones de cursos
      enfocados en el área de interés laboral del estudiante. Se tomarán en cuenta
      recomendaciones de profesores y egresados UP para evitar cualquier tipo de sesgo.
      Una demostración básica, en el caso de la carrera de economía (sujeta a recomendaciones
      de profesores UP), a continuación:
    </p>

    <ul>
      <li>Interés por el área de finanzas: comenzar con un curso introductorio como Sistemas Financieros.</li>
      <li>Interés por el backoffice/programación: comenzar con Machine Learning para economistas.</li>
    </ul>
      De la misma manera, seguir promoviendo la apertura de cursos más especializados para el
      enriquecimiento académico de los estudiantes.
    <!-- <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a> -->

</div>
