<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <div class="user-details">
        <h1 style="text-align:center; margin-bottom: 0px; padding-top: 0px !important; margin-top:1em;" > ¿Quién es Cesar Solís? </h1>
      </div>

      <section id="about">
        <div class="user" style="display: flex; align-items: center;">
            <div class="tech" style="text-align: left;">
              <h3>Un poquito de vida escolar</h3>
              <p>
                Nací en Arequipa, Perú, en 2002, justo una década después de que nuestro país regresara a la senda del crecimiento. No obstante, luego de 6 meses, me mudé con mis padres y mi abuelita a Pucallpa, quien me cuidó desde muy pequeño y me transmitió desde valores hasta el primer acercamiento a un sentido del humor muy hilarante.
              </p>
              <p>
                Desde temprana edad, mis padres me inculcaron dos características valiosas: un profundo respeto hacia el prójimo, y la gran importancia de una mente curiosa y cuestionadora. Estas lecciones me animaron a perseguir la excelencia académica, participar en concursos y olimpiadas matemáticas escolares locales y nacionales, y obtener reconocimientos.
              </p>
              <p>
                En el segundo año de secundaria conocí a Claudio Jara, profesor de matemáticas de mi colegio e ingeniero estadístico por la Universidad Nacional de Ingeniería (UNI) ¿Lo curioso? Él únicamente nos entregaba ejercicios y nos animaba a resolverlos en conjunto, y si teníamos alguna duda simplemente le preguntábamos. Él creía que ya éramos capaces de analizar situaciones complejas y plasmarlas al papel, simplemente necesitábamos realmente intentarlo. Su gran pasión por otros campos como la física o la historia me convenció de que una persona necesita desarrollarse de forma integral y no encasillarse en un mismo ámbito.              </p>
              <p>
                Este impacto me animó a explorar diversas disciplinas por mi cuenta como la física, la poesía o la música. De hecho, junto con unos amigos creé “Hilo Azul”, una banda que ejecutaba covers de clásicos de rock y pop (aprovecho para agradecer a Luis, Chris, Ronal y Bryan por esos tiempos).
              </p>
              <p>
                Estudie toda mi etapa escolar en el mismo colegio. Durante esta pude obtener diversas oportunidades como becas. Así, uno de los grandes motivos que me animó a elegir la carrera de Economía fue poder lograr que las personas puedan acceder a oportunidades justas, porque creo mi situación influyó en las oportunidades que pude tener y no únicamente mi esfuerzo ¿Mi mayor deseo? Ser líder en proyectos educativos, tecnológicos y de infraestructura que; además de impactar en las regiones del Perú y el Mundo, puedan enterarse de lo que está sucediendo respecto de esto en todo el planeta.
              </p>

              <h3>Vida universitaria y docente</h3>
              <p>
                Posteriormente, me adentré a la vida universitaria con muchos retos. Aquellos que, con mucha dedicación y la ayuda de todas las personas quienes me acompañaron en el proceso, pude aprender a abordarlos correctamente. Dentro de las experiencia vividas que destaco están el recibir el Premio Especial al Mejor Alumno de Primer Año (MAES); poder formar parte de la organización universitaria ECAI, donde se ayuda a nuevos ingresantes a adentrarse a la vida universitaria; y haber enseñado inglés en colegios a través de la Organización Hacedores de Diálogo
              </p>
              <p>
                De la misma manera, pude adentrarme al mundo académico a través del modelo de Jefes de Práctica de la Universidad del Pacífico. De modo que he podido enseñar Economía General I y Matemáticas III; y que actualmente dicto los cursos de Contabilidad Intermedia y Evaluación Privada de Proyectos. Donde en cada nueva clase puedo 
              </p>

              <h3>Ámbito profesional</h3>
              <p>
                Luego, en el lado profesional, pude comenzar a practicar a partir del sexto ciclo. Así, comencé a trabajar en el área de Data Analytics en una Fintech llamada Baldecash, la cual se encarga actualmente de entregar financiamiento a estudiantes (principalmente que no puedan acceder a un préstamo formal) a través de laptops, y así puedan ejercer sus estudios adecuadamente.
              </p>
              <p>
                Posteriormente, me adentré al trabajo de investigación gracias a la confianza que me tuvo la profesora Joanna Kámiche. Y así empecé como su asistente de investigación en el Centro de Investigación de la Universidad del Pacífico. Allí, junto con ella colaboré en una investigación sobre el impacto que tuvo un programa de capacitación “Haku Wiñay” sobre el ingreso de agricultores y ganaderos. Asimismo, colaboré con la realización de un artículo que buscaba evaluar si la realización de los Juegos Panamericanos en Lima fue adecuada respecto de los problemas que estaban sucediendo en el Norte del Perú.
              </p>
              <p>
                Seguidamente, me adentré al mundo de la finanzas a través de OM Pharma, una compañía biofarmacéutica global, donde me encuentro en el área de ventas realizando planeamiento financiero. Y aquí es donde me encuentro actualmente, lo que me parece divertido porque veo muchos medicamentos, ¡igual que mis padres quienes laboran en el área de la salud!
              </p>

              <h3>Logros</h3>
              <p style="text-align: left;">• Premio al Mejor Alumno de Primer Año de Estudios de la Universidad del Pacífico en el 2020 (MAES)</p>
              <p style="text-align: left;">• Participación en la fase regional de la Olimpiada Nacional Escolar de Matemáticas (ONEM)</p>

              
              <h3>Cuando no estoy estudiando, ni trabajando estoy...</h3>
              <p>• Leyendo sobre poesía o física</p>
              <p>• Leyendo sobre el desarrollo de las empresas</p>
              <p>• Aprendiendo lenguaje de programación</p>
              <p>• Tocando el bajo o la guitarra</p>
              <p>• Jugando fútbol</p>

              <h3>Agradecimientos</h3>
              <p>
                Gracias especiales a mis padres, a todos los amigos con quienes compartí y a quienes no alcanzo a colocarlos todos aquí. Además de mi equipo de trabajo actual, quienes me brindan la confianza para poder mejorar cada día más.🚀
                <br>
                <br>
                <a class="project-link" href="/" style="font-size: 16px; ">Volver</a>
              </p>
            </div>
          </div>        
          
      </section>
        {% include footer.html %}
  </body>


